{% extends "base.html" %}

{% block content %}

<section class="hero-section">
    <span class="subtitle">MOTEUR D'INDEXATION</span>
    <h1 class="big-title">botanique</h1>
    <p class="description">
        Explorez le monde végétal autrement. Un moteur de recherche augmenté par l'intelligence artificielle pour identifier, comprendre et utiliser les richesses de la botanique.    </p>
</section>

<div class="glass-card-container">
    
    <div class="glass-card">
    <h3>Explorer</h3>
    <p>Accès rapide aux fiches plantes</p>
</div>

<div class="glass-card">
    <h3>Dialoguer</h3>
    <p>Réponses assistées par IA</p>
</div>

<div class="glass-card">
    <h3>Visionner</h3>
    <p>Contenus & tutoriels vidéos</p>
</div>

<div class="glass-card">
    <h3>Découvrir</h3>
    <p>4 univers : Soin, Beauté, Déco...</p>
</div>

</div>

{% endblock %}